<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta author="{{author}}">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
</head>
<body ng-app="app" ng-controller="ctrlMain">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">EHealth Note Book</a>
        </div>
    </nav>
    {{{body}}}
    <script src="pouchdb/dist/pouchdb.min.js"></script>
    <script src="angular/angular.js"></script>
    <script src="angular-pouchdb/angular-pouchdb.js"></script>
    <script src="main.js"></script>
    <script src="factory/svcDB.js"></script>
    <script src="controllers/ctrlMain.js"></script>
</body>
</html>