<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Available Note
                </div>
                <div class="panel-body">
                    Click to edit a note
                    <button class="btn btn-primary btn-sm pull-right" ng-click="addNew()">Create New</button>                    
                </div>
                
                <div class="list-group" style="height:400px; overflow-y:auto">                    
                    <a class="list-group-item" ng-repeat="note in notes" ng-click="view(note)" ng-class="{active:selection == note}">
                        <h4 class="list-group-item-heading">
                            {[{note.title | limitTo:25}]}
                        </h4>
                        <p class="list-group-item-text">
                            {[{note.body | limitTo:20}]}...                            
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Current Selected Note
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="form-horizontal" ng-if="addingNew">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" ng-model="newNote.title">
                            </div>
                            <div class="form-group">
                                <label>Body</label>
                                <textarea ng-model="newNote.body" rows="2" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary pull-right" ng-click="add(newNote.title, newNote.body)">SAVE</button>
                            </div>
                        </div>
                        <div class="form-horizontal" ng-if="editing">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" ng-model="selection.title">
                            </div>
                            <div class="form-group">
                                <label>Body</label>
                                <textarea ng-model="selection.body" rows="2" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary pull-right" ng-click="save()">Save</button>
                                <span class="pull-right">&nbsp;</span>
                                <button class="btn btn-default pull-right" ng-click="cancel()">Cancel</button>
                            </div>
                        </div>
                        <div ng-if="viewing">
                            <h4>
                                {[{selection.title}]}
                                <button class="btn btn-default btn-xs pull-right" ng-click="edit(selection)">edit</button>
                            </h4>
                            <p>
                                {[{selection.body}]}                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>