<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta author="{{author}}">
</head>
<body>
    {{{body}}}
    <script src="pouchdb/dist/pouchdb.min.js"></script>
    <script src="angular/angular.js"></script>
    <script src="angular-pouchdb/angular-pouchdb.js"></script>
    <script src="main.js"></script>
    <script src="factory/svcDB.js"></script>
    <script src="controllers/ctrlMain.js"></script>
</body>
</html>